@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: moderfb;
    src: url(/assets/font/modernofbcomp-bold.otf);
}
.moderfb{
    font-family: moderfb;
}

* {
   font-family: "Noto Serif", serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body{
    background-image: url('/assets/images/png/page-bg-image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-scroll {
    animation: slide 20s linear infinite;
}

.slide-scroll:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.swiper-slide-active {
    border-left: 2px solid #000;    
    border-right: 2px solid #000;
}